@font-face {
  font-family: "Red Hat Display Black";
  src: url (./Fonts/RedHatDisplay-Black.otf);
}
@font-face {
  font-family: "XAG Regular";
  src: url (./Fonts/XAG-Regular.otf);
}
body {
  overflow: hidden;
  text-align: center;
  background: linear-gradient(70deg, #ff0000, #0000ff) fixed;
  height: 100%;

  margin-top: 50vh;
  transform: translateY(-50%);
}
h1 {
  text-align: center;
  font-size: 12.5vh;
  font-family: "XAG Regular";
  color: white;
}
button {
  background: white;
  border: 0px white;
  border-radius: 50px;
  height: 4vh;
  width: 20vh;
  font-family: "Red Hat Display Black";
  font-size: 2vh;
  cursor: pointer;
}
button:active {
  background: rgb(220, 220, 220);
}

/*
background: linear-gradient(70deg, #ff0000, #0000ff) no-repeat;
*/
